<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gabrielbb.cutout">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".EraseOffsetActivity"></activity>
        <activity
            android:name=".EditTextActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StickerViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CutOutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".IntroActivity"
            android:label="@string/intro_label"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>